/* .table-scroll-gsn table{
  height:170px; 
  max-height: 200px;
}

.table-scroll-gsn tbody{
  overflow-y: scroll;
  max-height: 120px;
  height:120px; 
  position: absolute;
}

.table-scroll-gsn tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  } */

  .fieldCustomLabel {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}
  .deployBlueprintModal {
    width: 1200px !important;
  }
  
.blueprintsTable th:nth-child(6) {
    min-width: 81px;
}

.blueprintCatalog .segment {
    background: white !important;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.uploadBlueprintButton {
    z-index: 5;
    position: absolute !important;
    right: 12px;
}

.blueprintCatalog .actionButtons .button {
    margin: 0.2rem;
}

.blueprintCatalog .stackable .column > .column {
    min-width: 315px;
    max-width: 20%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 769px) {
    .blueprintCatalog .stackable .column > .column {
        max-width: 100%;
    }
}

.box {
    /* width: 800px; */
    border: 1px solid #ddd;
  }
  .box .steps {
    border-bottom: 1px solid #ddd;
  }
  .box .steps ul {
    overflow: hidden;
    display: flex;
    list-style: none;
    margin-left: -30px;
  }
  .box .steps ul li div {
    color: #999;
    padding: 10px 0 15px 45px;
    position: relative;
    background: #f5f5f5;
    width: 165px;
  }
  .box .steps ul li div span {
    font-size: 13px;
  }
  .box .steps ul li:first-child div {
    width: 135px;
    padding-left: 15px;
  }
  .box .steps ul li div::before {
    content: " ";
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ddd;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 1;
    margin-left: 1px;
  }
  .box .steps ul li div::after {
    content: " ";
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }

 /* DHL colors
 RGB
 zluta RGB(255,204,0)
 red RGB(212,5,17)
 
 secondary
 orange: RGB(235,122,22) */

  .box .steps ul li.done div {
    border-color: RGB(255,204,0) !important;
    color: rgb(0, 0, 0) !important;
    background: RGB(255,204,0) !important;
    font-weight: bolder;
  }
  .box .steps ul li.done div::after {
    border-left: 30px solid RGB(255,204,0);
  }
  .box .steps ul li.active div {
    border-color: RGB(212,5,17) !important;
    color: rgb(255, 255, 255) !important;
    background: RGB(212,5,17) !important;
    list-style: none;
    font-weight: bolder;
  }
  .box .steps ul li.active div::after {
    border-left: 30px solid RGB(212,5,17);
  }
   



  .box .step-component {
    /* padding: 20px; */
    /* height: 200px; */
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .box .btn-component {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
